<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Express To-Do</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/devSkills">My skills</a>
    <a href="/devSkills/new">New Dev Skill</a>
    <h3><%= devSkill.devSkill %></h3>
    <h3>Proficieny: <%= devSkill.mastery%></h3>
    <form action="/devSkills/<%= devSkill.id %>?_method=DELETE" method="POST">
      <button type="submit" class="btn btn-danger">X</button>
    </form>
  </body>
</html>
